.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-group {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-group button {
  background: #1c1c2b;
  border: 1px solid #6c5ce7;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.filter-group button:hover {
  background: #6c5ce7;
}