<div class="page">

  <h1 class="title">🔮 Tarot Insight</h1>

  <div class="grid">
    @for (c of allCards; track $index) {
      <div class="card-mini" (click)="openModal(c)">
        <img [src]="c.image" [alt]="c.name">
      </div>
    }
  </div>

  <button class="floating-btn" (click)="drawCard()">
    🔮
  </button>

  @if (showModal && selectedCard) {
    <div class="modal">

      <div class="overlay" (click)="closeModal()"></div>

      <div class="modal-content">
        <app-card [card]="selectedCard"></app-card>
      </div>

    </div>
  }

</div>